*{
	box-sizing:  border-box;
	margin: 0;
	padding: 0;
}

html{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 19px;
}

body{
	background-color: #001845;
	color: #e2e2e2;

	line-height: 1.5rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
}


/* Responsible for background color change */
.wrapper {
  transition: background .5s ease;
}

.spacing {
	height: 100vh;
}

#iceberg{
	background-image: linear-gradient(#2cbae6, #09557c, #2e0d3d);
}

/*
#nav-bar {font-size:1vw}
#main-header {font-size: 0.9vw}
#main-content {font-size:1.2vw}
#side-bar {font-size: 1vw}
#main-footer {font-size: 0.9vw}
h1 {font-size:2vw}	
h2 {font-size:1.5vw}
h3 {font-size:1.25vw}
*/

#nav-bar{
	background-color: #36abbc;
	color: #fef0ff;
}

.container{
	max-width: 1080px;
	margin: 0 auto;
	padding: 0 30px;
}

.section{
	/* background-color: #f2f2f2; */
}

/* font-size: clamp(1.2rem,1rem + 3.5vw,4rem); */
/* Section-specific */
#nav-bar .container{
	display: flex;
	justify-content: left;
	align-items: center;
	max-width: 100%;
	padding: 15px 50px;

	/*
		1. Position
		2. Box (alignment - size - margin - padding - border)
		3. Border
		4. Background
		5. Text/Font
		6. Transforms
		7. Transitions/Animations
		8. Other
		Spacing them apart when there are more than 5 lines
	*/
}

#love-quote{
	margin-left: 20px;
	font-weight: bold;
}

.section .container{
	display: flex;
	justify-content: center;
}


/* Global content stuffs */
.content-text-size h1{
	font-size: 3em;
	font-weight: bold;
	line-height: 1.2;
}

.content-img-size{
	font-size: 0;			/* Remove horizontal spacing between images */
}
.content-img-size img{
	vertical-align: top;	/* Remove vertical spacing between images */
}


.section .container .content-text-size{
	width: 33%;
	margin: 0 10px;
	background: red;
}

.section .container .content-img-size{
	width: 66%;
	margin: 0 10px;
	background: green;
}

.content-img-size .gallery-img-size{
	width: calc(50% - 10px);
	height: auto;
	margin: 10px 10px 0 0;
}
.content-img-size .img-size{
	width: 100%;
	height: auto;
}

/* Action when windows size smaller than 700px */
@media only screen and (max-width: 767px){
	/*--[ Mobile styles go here]---------------------------*/

	.section .container{
		flex-direction: column;
		align-items: center;
	}

	.section .container .content-text-size{
		width: 100%;
		margin: 0;
	}

	.section .container .content-img-size{
		width: 100%;
		margin:  0;
	}
}

@media (max-width: 480px) {
    html {
        font-size: 3.75vw;
        overflow-x: scroll;
    }
    .container{
    	overflow-x: scroll;
    }
}

@media (min-width: 480px) {
    html {
        font-size: 19px;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 20px;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 21px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 22px;
    }
}

/* Section-specific */
.section2 .container{
	display: flex;
	justify-content: space-between;
	max-width: 100%;
	padding: 0;
}

.section2 .container .content-img-size{
	width: 30%;
	margin: 0 50px;
}

.section2 .container .content-text-size{
	width: 30%;
	margin: 0;
}
